{% load staticfiles %}
<div class="profile-tables-wrap">
    <h2>Allergies</h2>
    <ul class="bw-table-wrap">
        <li class="head">
            <span class="type-left">Name</span>
            <span class="type-left">Type</span>
            <span class="type-left">Status</span>
            <span class="type-left">Severity</span>
        </li>
        <li>
            <span class="type-left with-icon"><span class="img-gap"><img src="{% static 'images/medical.png' %}"></span>Codeine</span>
            <span class="type-left">Medical</span>
            <span class="type-left">Active</span>
            <span class="type-left">Critical</span>
        </li>
        <li>
            <span class="type-left with-icon"><span class="img-gap"><img src="{% static 'images/food.png' %}"></span>Peanuts</span>
            <span class="type-left">Food</span>
            <span class="type-left">Active</span>
            <span class="type-left">Critical</span>
        </li>
        <!-- <li class="clinical-null-data">
            <span>No Data Available</span>
        </li> -->
    </ul>
</div>
