{% extends 'invoice_pdf/base.html' %}
{% load staticfiles %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static company.logo_1 %}" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">{{ company.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">{{ company.address_line_1 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-center">{{ company.address_line_2 }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="text-center">{{ company.phone }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">{{ company.gstin }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="{% static company.logo_2 %}" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}




{{ invoice.seq_number }}
{{ invoice.date }}
{{ company.state }}
{{ customer.name }}
{{ customer.consumer_number }}
{{ customer.address_line_1 }}
{{ customer.address_line_2 }}
{{ customer.phone }}
{{ customer.state }}
{% for extra_info in customer.extra_info.all %}
    {{ extra_info.key }}: {{ extra_info.value }}
{% endfor %}