{% extends 'project/base.html' %}

{% block navbar_header_content %}
<div class="navbar-header">
    <a class="navbar-brand" href={% url 'dashboard' %}>Welcome {{ user.first_name }}</a>
</div>
{% endblock %}
{% block navbar_links_content %}
<ul class="nav navbar-nav navbar-left">
    <li>
        <a href={% url 'inventories:item_list' %}>Items</a>
    </li>
    <li>
        <a href={% url 'invoices:invoice_list' %}>Invoices</a>
    </li>
    <li>
        <a href=""><span class="btn btn-success navbar-btn navbar_short_btn">+ New Invoice</span></a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
So, You are in. Let's get started.
{% endblock %}
