//-----------Custom variables will goes here
$white:                                         #FFF;
$black:                                         #000;
$signin-footer-color:                           #F8F8F8;
$signin-footer-background:                      #0d55a3;
$modal-463-background:                          #F8F8F8;
$bootstrap-select-no-result-background:         #f5f5f5;
$family-history-problem:                        #fbfbf9;
$table-even-row:                                #fbfbf9;
$allergy-minor-background:                      #fbfbf9;
$primary-border:                                #CCC;
$progress-border-right:                         #DAD9D6;
$drug-detail-background:                        #DAD9D6;
$unselected-color:                              #DAD9D6;
$arrow-state:                                   #DAD9D6;
$rzslider-bar:                                  #DAD9D6;
$primary-background:                            #f6f5f3;
$primary-placeholder:                           #ADABA5;
$journey-border:                                #63778c;
$drug-text:                                     #7f7e7b;
$black-label:                                   #343536;
$with-generics-table-text:                      #7f7e7b;
$claim-reward-text:                             #868582;
$invite-family-member-text:                     #868582;
$progress-risk-value:                           #868582;
$rewards-detail-color:                          #868582;
$reward-partner-info:                           #868582;
$terms-condition-text:                          #868582;
$payment-method-text:                           #868582;
$medical-sources-msg:                           #868582;
$genomics-detail-description:                   #868582;
$partner-benefits-list:                         #8b8a87;
$msg-background:                                #fcfaf7;
$msg-color:                                     #797875;
$msg-date-input-color:                          #a6a49d;
$calendar-day:                                  #858582;
$challenge-description-color:                   #858582;
$week-first-day:                                #b6b6b4;
$msg-detail-background:                         #fafafa;
$new-msg-background:                            #f7f6f4;
$add-clinical-source-border:                    #f0eee9;
$table-head-background:                         #f0eee9;
$family-history-background:                     #f0eee9;
$allergy-list-background:                       #f0eee9;
$theme-primary-text:                            #666562;
$theme-secondary-text:                          #706F6C;
$genomics-desc-color:                           #989898;
$search-list-color:                             #333333;
$goal-detail-pts:                               #e8524a;
$allergy-warning:                               #f04648;
$select-error-border:                           #f33;
$points-block:                                  #01daaf;
$question-num-tracker:                          #3cb878;
$dollar-block:                                  #359c67;
$generic-block:                                 #fab03c;
$card-background-less-rated:                    #F3D426;
$less-rated-color:                              #D1B934;
$mark-background:                               #fff200;
$refill-warning-background:                     #fff424;
$theme-color:                                   #78BE20;
$theme-dark-color:                              #6DA727;
$tab-active-background:                         #78BE20;
$onboarding-color:                              #B6CFD0;
$tab-background:                                #6DA727;
$tab-background-active:                         #78BE20;
$tab-color:                                     #ffffff;
$tab-border:                                    #00313C;
$theme-add-heading:                             #78BE20;
$theme-light-modal-btn:                         #78BE20;
$header-input-box-shadow:                       #78BE20;
$theme-logout:                                  #ffffff;
$account-switcher-btn-border:                   #78BE20;
$account-switcher-btn-color:                    #00313C;
$caret-color:                                   #78BE20;
$theme-header-color:                            #FFF;
$menu-background:                               #6DA727;
$dark-blue:                                     #3d5064;
$journey-level-change:                          #ffffff;
$points-block:                                  #495e74;
$modal-congrats-color:                          #6DA727;
$timeline-blue-indicator:                       #3fb5c6;
$plan-dropdown-background:                      #78BE20;
$light-purple:                                  #a293cc;
$quiz-text-color:                               #807f7c;
$onboarding-btn-background:                     #78be20;
$onboarding-btn:                                #ffffff;
$theme-text:                                    #00313C;
$onboarding-text:                               #00313C;
$login-link-color:                              #00313C;
$onboarding-input-background:                   #ffffff;
$onboarding-placeholder-color:                  #B6CFD0;
$onboarding-input-color:                        #00313C;
$search-box-input:                              #78BE20;
$nav-header-color:                              #ffffff;
$notification-count-color:                      #523178;
$dropdown-caret:                                #78BE20;
$styled-select-caret:                           #78BE20;
$bwell-block:                                   #00313C;
$login-background-color:                        #B6CFD0;
$login-input-background:                        #FFFFFF;
$questionaire-label:                            #78BE20;
$questionaire-caret:                            #78BE20;
$splash-color:                                  #78BE20;
$slideout-menu-box-shadow:                      #444;
$switch-label-color:                            #4c5d70;
$toggle-btn-on:                                 #4cd864;
$toggle-btn-off:                                #f1f1f1;
$toggle-off-border:                             #eaeaea;
$slider-tick-color:                             #c3bfb9;
$menu-bwell:                                    #fff;
$card-header-background:                        #78BE20;
$card-wrapper-height:                           440px;
$white-F8F8F8:                                  #F8F8F8;
$grey-f6f5f3:                                   #f6f5f3;
$grey-333333:                                   #333333;
$grey-F0EEE9:                                   #F0EEE9;
$gray-CCC:                                      #CCC;
$grey-706F6C:                                   #706F6C;
$gray-f6f5f3:                                   #f6f5f3;
$grey-797875:                                   #797875;
$grey-666562:                                   #666562;
$grey-ADABA5:                                   #ADABA5;
$grey-DAD9D6:                                   #DAD9D6;
$grey-7C7A79:                                   #7C7A79;
$grey-A0A0A0:                                   #A0A0A0;
$grey-807F7C:                                   #807F7C;
$orange-FAB03C:                                 #FAB03C;
$theme-dark-blue:                               #246AAA;
$theme-blue:                                    #246ab4;
$theme-blue-form:                               #1f2772;
$yellow-FDF070:                                 #FDF070;
$red-F34941:                                    #F34941;
$blue-0757ab:                                   #0757ab;
$blue-4E7FFF:                                   #4E7FFF;
$green-8AC23E:                                  #8AC23E;
$red-E84941:                                    #E84941;
$blue-23527c:                                   #23527c;
$theme-black:                                   #28303a;
$button-blue:                                   #2d7dc7;
$error-red:                                     #db524b;
$theme-grey:                                    #4D4D4D;
$border-grey:                                   #D9D9D7;
$light-grey:                                    #A8A8A8;
$border-grey-d3d3d3:                            #d3d3d3;
$light-blue:                                    #417ebd;
$rewards-theme:                                 #01D0A5;
$persian-green:                                 #03A89C;
$moderate-color:                                #fbb03c;
$red-button:                                    #E84941;
$border-light-grey:                             #D8D8D6;
$background-grey-heading:                       #d8d8d6;
$normal-green:                                  #39b54a;

//Below two variables for colors are not used in the current flow. Rename them according to the theme later
$blue-303a45:                       #303a45;
$blue-8ba7c4:                       #8ba7c4;

//Stats Variables
$steps-color:           #8CC63F;
$bloodpresure-color:    #F34941;
$heartrate-color:       #FBB03B;
$sleep-color:           #534761;
$calories-color:        #00a99d;
$weight-color:          #29abe2;
$emergency-color:       #ed3f42;
$biking-color:          #845ba8;
$jogging-color:         #c63f9e;
$swimming-color:        #f0c519;
$bmi-color:             #dd581d;
$dollar-color:          #2489b3;
$pharmacy-color:        #3fb5c6;
$finance-color:         #2589b4;




//bootstrap select scss
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 100%; // 3 960px-grid columns

$zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)

//Health Journey page variable
$total-stage: 5;
$total-level: 10;
