{% extends 'project/dashboard.html' %}

{% block main_content %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <span>Invoices</span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Seq. No.</th>
                        <th>Customer</th>
                        <th>date</th>
                        <th>Total Discount</th>
                        <th>Total Tax</th>
                        <th>Total Amount</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices_list %}
                        <tr>
                            <td>{{ invoice.seq_number }}</td>
                            <td>{{ invoice.customer.name }}</td>
                            <td>{{ invoice.date }}</td>
                            <td>{{ invoice.discount }}</td>
                            <td>{{ invoice.tax }}</td>
                            <td>{{ invoice.amount }}</td>
                            <td><a href="{% url 'invoices:invoice_detail' invoice.id %}"><span class="btn btn-default">Detail</span></a></td>
                        </tr>
                    {% empty %}
                        No items to update.
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="clearfix table-navigation">
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="step-links">
                        <ul class="pager">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                </li>
                            {% endif %}
                        </ul>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <a href="{% url 'dashboard' %}">Back</a>

{% endblock %}