{% extends 'project/dashboard.html' %}

{% block main_content %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <span>Taxes</span>
            <a href="{% url 'taxes:tax_create' %}"><span class="btn btn-primary pull-right">+ Add New tax</span></a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Percentage</th>
{#                        <th>Added On</th>#}
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tax in taxes_list %}
                        <tr>
                            <td>{{ tax.name }}</td>
                            <td>{{ tax.description|truncatechars:20 }}</td>
                            <td>{{ tax.percentage }}</td>
{#                            <td>{{ tax.created_at.date }}</td>#}
                            <td><a href="{% url 'taxes:tax_update' tax.id %}"><span class="btn btn-default">Update</span></a></td>
                        </tr>
                    {% empty %}
                        No taxes.
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="clearfix table-navigation">
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="step-links">
                        <ul class="pager">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                </li>
                            {% endif %}
                        </ul>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <a href="{% url 'dashboard' %}">Back</a>

{% endblock %}