{% extends 'inventory/dashboard.html' %}
{% block main_content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Issue Items
        </div>
        <div class="panel-body">
            <div class="form_errors">
                <ul class="list-group">
                    {% for error in form.non_form_errors %}
                        <li class="list-group-item"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="item_forms_div">
                <div id="js_empty_sub_form" class="js_sub_form form-horizontal" style="display: none;">
                    <div class="form_errors">
                        <ul class="list-group">
                            {% for error in form.empty_form.non_field_errors %}
                                <li class="list-group-item"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.empty_form.item.auto_id }}"
                               class="col-sm-2 control-label">{{ form.empty_form.item.label }}</label>

                        <div class="col-sm-8">
                            <select class="form-control js_item_select" id="{{ form.empty_form.item.auto_id }}"
                                    name="{{ form.empty_form.item.html_name }}">
                                {% for val, text in form.empty_form.fields.item.choices %}
                                    <option value="{{ val }}"{% if form.empty_form.item.value|add:"0" == val|add:"0" %}
                                            selected{% endif %}>{{ text }}</option>
                                {% endfor %}
                            </select>
                            {% for error in form.empty_form.item.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.empty_form.auto_id }}"
                               class="col-sm-2 control-label">{{ form.empty_form.quantity.label }}</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control" min="1"
                                   id="{{ form.empty_form.quantity.auto_id }}"
                                   name="{{ form.empty_form.quantity.html_name }}"
                                   value="{{ form.empty_form.quantity.value }}">
                            {% for error in form.empty_form.quantity.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.empty_form.return_by.auto_id }}"
                               class="col-sm-2 control-label">{{ form.empty_form.return_by.label }}</label>

                        <div class="col-sm-8">
                            <div class='input-group date js_datetimepicker'>
                                {{ form.empty_form.return_by }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {% for error in form.empty_form.return_by.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.empty_form.issued_to.auto_id }}"
                               class="col-sm-2 control-label">{{ form.empty_form.issued_to.label }}</label>

                        <div class="col-sm-8">
                            {{ form.empty_form.issued_to }}
                            {% for error in form.empty_form.issued_to.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.empty_form.DELETE.auto_id }}"
                               class="col-sm-2 control-label">{{ form.empty_form.DELETE.label }}</label>

                        <div class="col-sm-8">
                            <input type="checkbox" id="{{ form.empty_form.DELETE.auto_id }}"
                                   name="{{ form.empty_form.DELETE.html_name }}"
                                   {% if form.empty_form.DELETE.value %}checked{% endif %}>
                        </div>
                    </div>
                    <hr>
                </div>
                <form id="js_issue_form" class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form.management_form }}
                    <div id="js_sub_forms_table">
                        {% for f in form %}
                            <div id="js_{{ forloop.counter0 }}_sub_form" class="js_sub_form">
                                <div class="form_errors">
                                    <ul class="list-group">
                                        {% for error in f.non_field_errors %}
                                            <li class="list-group-item"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="{{ f.item.auto_id }}"
                                           class="col-sm-2 control-label">{{ f.item.label }}</label>

                                    <div class="col-sm-8">
                                        <select class="form-control js_item_select" id="{{ f.item.auto_id }}"
                                                name="{{ f.item.html_name }}">
                                            {% for val, text in f.fields.item.choices %}
                                                <option value="{{ val }}"{% if f.item.value|add:"0" == val|add:"0" %}
                                                        selected{% endif %}>{{ text }}</option>
                                            {% endfor %}
                                        </select>
                                        {% for error in f.item.errors %}
                                            <span class="help-block">{{ error|escape }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="f.quantity.auto_id"
                                           class="col-sm-2 control-label">{{ f.quantity.label }}</label>

                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" min="1" id="{{ f.quantity.auto_id }}"
                                               name="{{ f.quantity.html_name }}"
                                               value="{{ f.quantity.value }}">
                                        {% for error in f.quantity.errors %}
                                            <span class="help-block">{{ error|escape }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ f.return_by.auto_id }}"
                                           class="col-sm-2 control-label">{{ f.return_by.label }}</label>

                                    <div class="col-sm-8">
                                        <div class='input-group date js_datepicker'>
                                            {{ f.return_by }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        {% for error in f.return_by.errors %}
                                            <span class="help-block">{{ error|escape }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ f.issued_to.auto_id }}"
                                           class="col-sm-2 control-label">{{ f.issued_to.label }}</label>

                                    <div class="col-sm-8">
                                        {{ f.issued_to }}
                                        {% for error in f.issued_to.errors %}
                                            <span class="help-block">{{ error|escape }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ f.DELETE.auto_id }}"
                                           class="col-sm-2 control-label">{{ f.DELETE.label }}</label>

                                    <div class="col-sm-8">
                                        <input type="checkbox" id="{{ f.DELETE.auto_id }}"
                                               name="{{ f.DELETE.html_name }}"
                                               {% if f.DELETE.value %}checked{% endif %}>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clearfix">
                        <div class="issue_form_actions">
                            <input type="button" id="js_add_item" class="btn btn-default" value="Add More Items">
                        </div>
                        <div class="issue_form_submit">
                            <input type="submit" id="js_issue_item" class="btn btn-success" value="Issue Above Items"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="{% url 'inventory:issue_requests_list' %}">Cancel</a>

{% endblock %}
{% block extra_script %}
    {% load staticfiles %}
    <script src="{% static "js/project_scripts/auto_complete.js" %}"></script>
    <script src="{% static "js/project_scripts/datepicker.js" %}"></script>
    <script src="{% static "js/project_scripts/provision.js" %}"></script>
{% endblock %}