{% extends 'project/dashboard.html' %}
{% block main_content %}

    {% load staticfiles %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Update Item
        </div>
        <div class="panel-body">
            <div class="form_errors">
                <ul class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_sku" class="col-sm-2 control-label">{{ form.sku.label }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" maxlength='20' id="id_sku" name="sku"
                               value="{{ form.sku.value }}">
                        {% for error in form.sku.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">{{ form.name.label }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" maxlength='20' id="id_name" name="name"
                               value="{{ form.name.value }}">
                        {% for error in form.name.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_hsn" class="col-sm-2 control-label">{{ form.hsn.label }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" maxlength='20' id="id_hsn" name="hsn"
                               value="{{ form.hsn.value }}">
                        {% for error in form.hsn.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_description" class="col-sm-2 control-label">{{ form.description.label }}</label>

                    <div class="col-sm-8">
                    <textarea class="form-control" cols="40" id="id_description" name="description"
                              rows="5">{{ form.description.value }}</textarea>
                        {% for error in form.description.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_quantity" class="col-sm-2 control-label">{{ form.quantity.label }}</label>

                    <div class="col-sm-8">
                        <input type="number" class="form-control" min="0" id="id_quantity" name="quantity"
                               value="{{ form.quantity.value }}">
                        {% for error in form.quantity.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_tax_notes" class="col-sm-2 control-label">{{ form.tax_notes.label }}</label>

                    <div class="col-sm-8">
                    <textarea class="form-control" cols="40" id="id_tax_notes" name="tax_notes"
                              rows="5">{{ form.tax_notes.value }}</textarea>
                        {% for error in form.tax_notes.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a href="{% url 'inventories:item_list' %}">Cancel</a>

{% endblock %}